@model Paciente

@{
    MedicoDetallado mimedico = ViewData["SUMEDICO"] as MedicoDetallado;
}

<h1>Cita Rapida Recepcionista</h1>

<form method="post">
    <label>Nombre: </label>
    <input type="text" name="nombre" class="form-control" />
    <label>Apellido: </label>
    <input type="text" name="apellido" class="form-control" />
    <label>Correo: </label>
    <input type="text" name="correo" class="form-control" />
    <button class="btn btn-success">
        Buscar
    </button>
</form>
