@{
    int idMedico = (int)ViewData["IDMEDICO"];
    string nombreMedico = "";
    if (ViewData["NOMBREMEDICO"] != null)
    {
        nombreMedico = ViewData["NOMBREMEDICO"].ToString();
    }
}

<div style="margin:auto;width:50%;text-align:center">
    <h1>
        Formulario Petición Nuevo Medicamento
    </h1>

    <p>
        <a asp-controller="CentroMedico" asp-action="ZonaMedico" class="btn btn-dark">Back</a>
    </p>

    <form method="post">
        <label>Medico Solicitante:</label>
        <input type="text" name="nombreMedico" class="form-control" placeholder="@nombreMedico" />
        <input type="text" name="idMedico" class="form-control" value="@idMedico" hidden />
        <label>Nombre Medicamento: </label>
        <input type="text" name="nombreMedicamento" class="form-control" />
        <label>Descripcion Medicamento: </label>
        <input type="text" name="descMedicamento" class="form-control" />
        <br />
        <button class="btn btn-success">
            Enviar Peticion
        </button>
    </form>
</div>