<div style="margin:auto;width:50%;text-align:center">
    <div>
        <h1 class="h1">Login</h1>
    </div>
    <hr />
    <div>
        <form method="post">
            <label>Email: </label>
            <input type="text" name="correo" class="form-control" /><br />
            <label>Password: </label>
            <input type="password" name="contra" class="form-control" /><br />
            <button class="btn btn-info">
                Entrar
            </button>
        </form>
    </div>
    <br />
    <div>
        <p>
            <a asp-controller="CentroMedico" asp-action="CreatePaciente" class="text-info">¿ No estas registrado ? Crear Cuenta</a>
        </p>
    </div>

    <div>
        <h2 style="color:red" class="h2">
            @ViewData["mensaje"]
        </h2>
    </div>
</div>
