<h1>Login</h1>
<form method="post">
    <label>Email: </label>
    <input type="text" name="correo" class="form-control" />
    <label>Password: </label>
    <input type="password" name="contra" class="form-control" />
    <button class="btn btn-success">
        Entrar
    </button>
</form>

<p>
    <a asp-controller="CentroMedico" asp-action="CreatePaciente">Crear Cuenta</a>
</p>

<h2 style="color:red">
    @ViewData["mensaje"]
</h2>