@model CentroMedico.Models.Usuario

@{
    ViewData["Title"] = "UpdateRecepcionsita";
}

<h1>UpdateRecepcionsita</h1>

<h4>Usuario</h4>

<p>
    <a asp-controller="CentroMedico" asp-action="ZonaRecepcionista" class="btn btn-dark">Back</a>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateRecepcionsita">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id"name="id" class="form-control" hidden/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" name="nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" name="apellido"  class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" name="correo"  class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contra" class="control-label"></label>
                <input asp-for="Contra" name="contra"  class="form-control" />
                <span asp-validation-for="Contra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Id_EstadoUsuario" name="estado" class="form-control" hidden />
                <span asp-validation-for="Id_EstadoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Id_TipoUsuario" name="tipo" class="form-control" hidden />
                <span asp-validation-for="Id_TipoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
