@model Usuario

<h1>Bienvenido : @Model.Nombre</h1>

<h3>Opciones:</h3>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="DetailsUsuario" asp-route-idUsuario="@Model.Id">Perfil</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="ZonaAdminUsuarios">CRUD Usuarios</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="ZonaAdminCitas">CRUD Citas</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="ZonaAdminPeticiones">Peticiones</a>
    </li>
</ul>