@model CentroMedico.Models.Usuario

@{
    ViewData["Title"] = "ZonaRecepcionista";
}

<h1>ZonaRecepcionista</h1>

<h3>Opciones:</h3>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="UpdateRecepcionsita">Perfil</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="CitaRapidaRecepcionista">Cita Rapida</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="CreatePeticionUsuario">Peticiones Usuario</a>
    </li>
</ul>
