@model Usuario

<h1>Zona Admin</h1>

<h1>Bienvenido : @Model.Nombre</h1>

<h3>Opciones:</h3>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="DetailsUsuario" asp-route-idUsuario="@Model.Id">Perfil</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="ZonaAdminUsuarios">CRUD Usuarios</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="ZonaAdminCitas">CRUD Citas</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Peticiones
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-controller="CentroMedico" asp-action="ZonaAdminPeticiones">Peticiones Usuarios</a></li>
            <li><a class="dropdown-item" asp-controller="CentroMedico" asp-action="ZonaAdminPeticionesMedicamentos">Peticiones Medicamentos</a></li>
        </ul>
    </li>
</ul>