@model Usuario

<h1>Zona Paciente</h1>

<h1>Bienvenido : @Model.Nombre</h1>

<p>
    <a asp-controller="CentroMedico" asp-action="GetMiMedico" asp-route-idpaciente="@Model.Id">Ver Informacion Mi Medico</a>
</p>

<h3>Opciones:</h3>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="ActualizarPaciente">Perfil</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="CreateCitaPaciente" >Crear cita</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="CitasPaciente">Mis Citas</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="MedicamentosYPacientes">Mis Medicamentos</a>
    </li>
</ul>