USE [CentroMedico]
GO
/****** Object:  Table [dbo].[CITAS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITAS](
	[ID] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[HORA] [time](4) NOT NULL,
	[ID_SEGUIMIENTOCITA] [int] NOT NULL,
	[ID_MEDICO] [int] NOT NULL,
	[ID_PACIENTE] [int] NOT NULL,
	[COMENTARIO] [nvarchar](max) NULL,
	[ID_ESTADOCITA] [int] NULL,
 CONSTRAINT [PK_CITAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ALL_CITAS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_ALL_CITAS]
AS
	SELECT ID,FECHA,HORA,ID_ESTADOCITA,ID_MEDICO,ID_PACIENTE,ISNULL(NULL,COMENTARIO) AS COMENTARIO
	FROM CITAS
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDO] [nvarchar](50) NOT NULL,
	[CORREO] [nvarchar](50) NOT NULL,
	[CONTRA] [nvarchar](50) NOT NULL,
	[ID_ESTADOUSUARIO] [int] NOT NULL,
	[ID_TIPOUSUARIO] [int] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEGUIMIENTOCITA]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGUIMIENTOCITA](
	[ID] [int] NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADOCITA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_CITAS_DETALLADO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_CITAS_DETALLADO]
AS
	SELECT CITAS.ID, CITAS.FECHA, CITAS.HORA, SEGUIMIENTOCITA.ESTADO, USUARIOS.APELLIDO AS MEDICO, CITAS.COMENTARIO
	FROM CITAS
	INNER JOIN USUARIOS
	ON CITAS.ID_MEDICO = USUARIOS.ID
	INNER JOIN SEGUIMIENTOCITA
	ON CITAS.ID_SEGUIMIENTOCITA=SEGUIMIENTOCITA.ID
GO
/****** Object:  Table [dbo].[MEDICOPACIENTE]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICOPACIENTE](
	[ID] [int] NOT NULL,
	[ID_MEDICO] [int] NOT NULL,
	[ID_PACIENTE] [int] NOT NULL,
 CONSTRAINT [PK_MEDICOPACIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_PACIENTESMEDICOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_PACIENTESMEDICOS]
AS
	SELECT ROW_NUMBER() OVER (ORDER BY APELLIDO) AS IDP , MEDICOPACIENTE.ID_MEDICO, USUARIOS.ID, USUARIOS.NOMBRE, USUARIOS.APELLIDO, USUARIOS.CORREO
	FROM MEDICOPACIENTE
	INNER JOIN USUARIOS 
	ON MEDICOPACIENTE.ID_PACIENTE=USUARIOS.ID
GO
/****** Object:  Table [dbo].[PETICIONESUSUARIOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PETICIONESUSUARIOS](
	[ID] [int] NOT NULL,
	[ID_USUARIO_SOLICITANTE] [int] NOT NULL,
	[ID_USUARIO_MODIFICAR] [int] NOT NULL,
	[ID_ESTADO_NUEVO] [int] NOT NULL,
 CONSTRAINT [PK_PETICIONESBAJAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOUSUARIO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOUSUARIO](
	[ID] [int] NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADOUSUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DETAILS_PETICIONES]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DETAILS_PETICIONES]
AS
	SELECT 
	PETICIONESUSUARIOS.ID AS IDPETICION,
	PETICIONESUSUARIOS.ID_USUARIO_SOLICITANTE AS IDRECEPCIONISTA,
	PETICIONESUSUARIOS.ID_ESTADO_NUEVO AS NUEVOESTADO,
	USUARIOS.ID AS IDUSUARIO,USUARIOS.NOMBRE,USUARIOS.APELLIDO,ESTADOUSUARIO.ESTADO  FROM PETICIONESUSUARIOS
	INNER JOIN USUARIOS
	ON USUARIOS.ID = PETICIONESUSUARIOS.ID_USUARIO_MODIFICAR
	INNER JOIN ESTADOUSUARIO
	ON PETICIONESUSUARIOS.ID_ESTADO_NUEVO=ESTADOUSUARIO.ID
GO
/****** Object:  Table [dbo].[MEDICAMENTOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTOS](
	[ID] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_MEDICAMENTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PETICIONESMEDICAMENTOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PETICIONESMEDICAMENTOS](
	[ID] [int] NOT NULL,
	[ID_MEDICO] [int] NOT NULL,
	[ID_MEDICAMENTO] [int] NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[ID_ESTADO_NUEVO] [int] NOT NULL,
 CONSTRAINT [PK_PETICIONESMEDICAMENTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DETAILS_PETICIONES_MEDICAMENTOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DETAILS_PETICIONES_MEDICAMENTOS]
AS
	SELECT 
	PETICIONESMEDICAMENTOS.ID AS IDPETICION, PETICIONESMEDICAMENTOS.ID_MEDICO AS IDMEDICO_SOLICITANTE , 
	PETICIONESMEDICAMENTOS.NOMBRE AS PETISMEDICAMENTO_NOMBRE, PETICIONESMEDICAMENTOS.DESCRIPCION AS PETISMEDICAMENTO_DESC, 
	PETICIONESMEDICAMENTOS.ID_ESTADO_NUEVO AS PETISMEDICAMENTO_ESTADO,
	USUARIOS.NOMBRE AS NOMBREMEDICO, USUARIOS.APELLIDO APELLIDOMEDICO,
	MEDICAMENTOS.ID AS IDMEDICAMENTO, MEDICAMENTOS.NOMBRE,
	ESTADOUSUARIO.ESTADO
	FROM PETICIONESMEDICAMENTOS
	INNER JOIN USUARIOS
	ON PETICIONESMEDICAMENTOS.ID_MEDICO=USUARIOS.ID
	LEFT JOIN MEDICAMENTOS
	ON PETICIONESMEDICAMENTOS.ID_MEDICAMENTO=MEDICAMENTOS.ID
	INNER JOIN ESTADOUSUARIO
	ON PETICIONESMEDICAMENTOS.ID_ESTADO_NUEVO=ESTADOUSUARIO.ID
GO
/****** Object:  View [dbo].[V_CITASMEDICOS_FILTRO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_CITASMEDICOS_FILTRO]
AS
	SELECT CITAS.ID, CITAS.FECHA, CITAS.HORA, CITAS.ID_MEDICO, CITAS.ID_PACIENTE , USUARIOS.NOMBRE , USUARIOS.APELLIDO , CITAS.ID_ESTADOCITA , CITAS.COMENTARIO
	FROM CITAS 
	INNER JOIN USUARIOS
	ON CITAS.ID_PACIENTE = USUARIOS.ID
GO
/****** Object:  Table [dbo].[DATOSEXTRASPACIENTES]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOSEXTRASPACIENTES](
	[ID] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[TELEFONO] [int] NOT NULL,
	[DIRECCION] [nvarchar](50) NOT NULL,
	[EDAD] [int] NOT NULL,
	[GENERO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DATOSEXTRASPACIENTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ALL_PACIENTES]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[V_ALL_PACIENTES]
as
	SELECT USUARIOS.ID, USUARIOS.NOMBRE, USUARIOS.APELLIDO, USUARIOS.CORREO, USUARIOS.CONTRA, USUARIOS.ID_ESTADOUSUARIO, USUARIOS.ID_TIPOUSUARIO,
    DATOSEXTRASPACIENTES.TELEFONO, DATOSEXTRASPACIENTES.DIRECCION, DATOSEXTRASPACIENTES.EDAD, DATOSEXTRASPACIENTES.GENERO
	FROM USUARIOS
	LEFT JOIN DATOSEXTRASPACIENTES
	ON USUARIOS.ID = DATOSEXTRASPACIENTES.ID_USUARIO
	WHERE USUARIOS.ID_TIPOUSUARIO = 4
GO
/****** Object:  Table [dbo].[MEDICOESPECIALIDAD]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICOESPECIALIDAD](
	[ID] [int] NOT NULL,
	[ID_MEDICO] [int] NOT NULL,
	[ID_ESPECIALIDAD] [int] NOT NULL,
 CONSTRAINT [PK_MEDICOESPECIALIDAD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ALL_MEDICOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[V_ALL_MEDICOS]
as
	SELECT USUARIOS.ID, USUARIOS.NOMBRE, USUARIOS.APELLIDO, USUARIOS.CORREO, USUARIOS.CONTRA, USUARIOS.ID_ESTADOUSUARIO, USUARIOS.ID_TIPOUSUARIO, 
	MEDICOESPECIALIDAD.ID_ESPECIALIDAD
	FROM USUARIOS
	INNER JOIN MEDICOESPECIALIDAD 
	ON USUARIOS.ID = MEDICOESPECIALIDAD.ID_MEDICO
	WHERE USUARIOS.ID_TIPOUSUARIO = 3
GO
/****** Object:  Table [dbo].[TIPOUSUARIOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOUSUARIOS](
	[ID] [int] NOT NULL,
	[TIPO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPOUSUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ALL_PACIENTES_DETALLADO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[V_ALL_PACIENTES_DETALLADO]
as
	SELECT USUARIOS.ID, USUARIOS.NOMBRE, USUARIOS.APELLIDO, USUARIOS.CORREO, USUARIOS.CONTRA,
    DATOSEXTRASPACIENTES.TELEFONO, DATOSEXTRASPACIENTES.DIRECCION, DATOSEXTRASPACIENTES.EDAD, DATOSEXTRASPACIENTES.GENERO ,
    ESTADOUSUARIO.ESTADO ,
    TIPOUSUARIOS.TIPO
	FROM USUARIOS
	LEFT JOIN DATOSEXTRASPACIENTES
	ON USUARIOS.ID = DATOSEXTRASPACIENTES.ID_USUARIO
	INNER JOIN ESTADOUSUARIO
	ON USUARIOS.ID_ESTADOUSUARIO = ESTADOUSUARIO.ID
	INNER JOIN TIPOUSUARIOS
	ON USUARIOS.ID_TIPOUSUARIO = TIPOUSUARIOS.ID
	WHERE USUARIOS.ID_TIPOUSUARIO = 4
GO
/****** Object:  Table [dbo].[ESPECIALIDADES]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESPECIALIDADES](
	[ID] [int] NOT NULL,
	[ESPECIALIDAD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ESPECIALIDADES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ALL_MEDICOS_DETALLADO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[V_ALL_MEDICOS_DETALLADO]
as
	SELECT USUARIOS.ID, USUARIOS.NOMBRE, USUARIOS.APELLIDO, USUARIOS.CORREO, USUARIOS.CONTRA, ESPECIALIDADES.ESPECIALIDAD ,
    ESTADOUSUARIO.ESTADO ,
    TIPOUSUARIOS.TIPO
	FROM USUARIOS
	INNER JOIN MEDICOESPECIALIDAD 
	ON USUARIOS.ID = MEDICOESPECIALIDAD.ID_MEDICO
	INNER JOIN ESPECIALIDADES
	ON MEDICOESPECIALIDAD.ID_ESPECIALIDAD = ESPECIALIDADES.ID
	INNER JOIN ESTADOUSUARIO
	ON USUARIOS.ID_ESTADOUSUARIO = ESTADOUSUARIO.ID
	INNER JOIN TIPOUSUARIOS
	ON USUARIOS.ID_TIPOUSUARIO = TIPOUSUARIOS.ID
	WHERE USUARIOS.ID_TIPOUSUARIO = 3
GO
/****** Object:  View [dbo].[V_ALL_USUARIOS_DETALLADOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[V_ALL_USUARIOS_DETALLADOS]
as
	SELECT USUARIOS.ID, USUARIOS.NOMBRE, USUARIOS.APELLIDO, USUARIOS.CORREO, USUARIOS.CONTRA,
    ESTADOUSUARIO.ESTADO,
    TIPOUSUARIOS.TIPO
	FROM USUARIOS
	INNER JOIN ESTADOUSUARIO
	ON USUARIOS.ID_ESTADOUSUARIO = ESTADOUSUARIO.ID
	INNER JOIN TIPOUSUARIOS
	ON USUARIOS.ID_TIPOUSUARIO = TIPOUSUARIOS.ID
	WHERE USUARIOS.ID_TIPOUSUARIO = 1 OR USUARIOS.ID_TIPOUSUARIO = 2
GO
/****** Object:  Table [dbo].[DISPONIBILIDADMEDICAMENTOS]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISPONIBILIDADMEDICAMENTOS](
	[ID] [int] NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADOMEDICAMENTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAMENTOPACIENTE]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTOPACIENTE](
	[ID] [int] NOT NULL,
	[ID_MEDICAMENTO] [int] NOT NULL,
	[ID_MEDICO] [int] NOT NULL,
	[ID_PACIENTE] [int] NOT NULL,
	[ID_DISPOMEDICAMENTO] [int] NOT NULL,
 CONSTRAINT [PK_MEDICAMENTOPACIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MEDICAMENTOSYPACIENTES]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_MEDICAMENTOSYPACIENTES]
AS
	SELECT  MEDICAMENTOPACIENTE.ID , MEDICAMENTOPACIENTE.ID_MEDICAMENTO AS IDMEDICAMENTO, MEDICAMENTOS.NOMBRE AS NOMBREMEDICAMENTO , MEDICAMENTOS.DESCRIPCION ,
	MEDICAMENTOPACIENTE.ID_MEDICO AS IDMEDICO, USUARIOS.NOMBRE , USUARIOS.APELLIDO ,
	MEDICAMENTOPACIENTE.ID_PACIENTE AS IDPACIENTE ,
	MEDICAMENTOPACIENTE.ID_DISPOMEDICAMENTO AS IDDISPOMEDICAMENTO, DISPONIBILIDADMEDICAMENTOS.ESTADO
	FROM MEDICAMENTOPACIENTE
	INNER JOIN USUARIOS
	ON MEDICAMENTOPACIENTE.ID_MEDICO=USUARIOS.ID
	INNER JOIN DISPONIBILIDADMEDICAMENTOS
	ON MEDICAMENTOPACIENTE.ID_DISPOMEDICAMENTO=DISPONIBILIDADMEDICAMENTOS.ID
	INNER JOIN MEDICAMENTOS
	ON MEDICAMENTOPACIENTE.ID_MEDICAMENTO= MEDICAMENTOS.ID
GO
INSERT [dbo].[CITAS] ([ID], [FECHA], [HORA], [ID_SEGUIMIENTOCITA], [ID_MEDICO], [ID_PACIENTE], [COMENTARIO], [ID_ESTADOCITA]) VALUES (11, CAST(N'2024-03-11' AS Date), CAST(N'11:00:00' AS Time), 3, 38, 4, NULL, 1)
INSERT [dbo].[CITAS] ([ID], [FECHA], [HORA], [ID_SEGUIMIENTOCITA], [ID_MEDICO], [ID_PACIENTE], [COMENTARIO], [ID_ESTADOCITA]) VALUES (13, CAST(N'2024-03-12' AS Date), CAST(N'09:30:00' AS Time), 3, 24, 7, NULL, 1)
INSERT [dbo].[CITAS] ([ID], [FECHA], [HORA], [ID_SEGUIMIENTOCITA], [ID_MEDICO], [ID_PACIENTE], [COMENTARIO], [ID_ESTADOCITA]) VALUES (15, CAST(N'2024-05-11' AS Date), CAST(N'14:30:00' AS Time), 1, 30, 33, NULL, 1)
GO
INSERT [dbo].[DATOSEXTRASPACIENTES] ([ID], [ID_USUARIO], [TELEFONO], [DIRECCION], [EDAD], [GENERO]) VALUES (1, 4, 612345678, N'C/ Marques 19', 34, N'Femenino')
INSERT [dbo].[DATOSEXTRASPACIENTES] ([ID], [ID_USUARIO], [TELEFONO], [DIRECCION], [EDAD], [GENERO]) VALUES (3, 7, 628418481, N'C/ Ermita 34', 36, N'Femenino')
INSERT [dbo].[DATOSEXTRASPACIENTES] ([ID], [ID_USUARIO], [TELEFONO], [DIRECCION], [EDAD], [GENERO]) VALUES (7, 22, 612313112, N'C/ Krocotoa 34', 24, N'Masculino')
GO
INSERT [dbo].[DISPONIBILIDADMEDICAMENTOS] ([ID], [ESTADO]) VALUES (1, N'Disponible')
INSERT [dbo].[DISPONIBILIDADMEDICAMENTOS] ([ID], [ESTADO]) VALUES (2, N'NoDisponible')
GO
INSERT [dbo].[ESPECIALIDADES] ([ID], [ESPECIALIDAD]) VALUES (1, N'General')
INSERT [dbo].[ESPECIALIDADES] ([ID], [ESPECIALIDAD]) VALUES (2, N'Cardiología')
INSERT [dbo].[ESPECIALIDADES] ([ID], [ESPECIALIDAD]) VALUES (3, N'Radiología')
GO
INSERT [dbo].[ESTADOUSUARIO] ([ID], [ESTADO]) VALUES (1, N'Alta')
INSERT [dbo].[ESTADOUSUARIO] ([ID], [ESTADO]) VALUES (2, N'Baja')
GO
INSERT [dbo].[MEDICAMENTOPACIENTE] ([ID], [ID_MEDICAMENTO], [ID_MEDICO], [ID_PACIENTE], [ID_DISPOMEDICAMENTO]) VALUES (1, 1, 6, 7, 2)
INSERT [dbo].[MEDICAMENTOPACIENTE] ([ID], [ID_MEDICAMENTO], [ID_MEDICO], [ID_PACIENTE], [ID_DISPOMEDICAMENTO]) VALUES (2, 1, 6, 27, 1)
INSERT [dbo].[MEDICAMENTOPACIENTE] ([ID], [ID_MEDICAMENTO], [ID_MEDICO], [ID_PACIENTE], [ID_DISPOMEDICAMENTO]) VALUES (3, 3, 6, 27, 1)
GO
INSERT [dbo].[MEDICAMENTOS] ([ID], [NOMBRE], [DESCRIPCION], [ID_ESTADO]) VALUES (1, N'Paracetamol', N'Analgésico y antipirético utilizado para reducir el dolor y la fiebre.', 1)
INSERT [dbo].[MEDICAMENTOS] ([ID], [NOMBRE], [DESCRIPCION], [ID_ESTADO]) VALUES (2, N'Frenadol', N'Medicamento utilizado para el alivio de los síntomas del resfriado y la gripe. ', 1)
INSERT [dbo].[MEDICAMENTOS] ([ID], [NOMBRE], [DESCRIPCION], [ID_ESTADO]) VALUES (3, N'Diazepam ', N'Medicamento que pertenece a la clase de las benzodiazepinas y se utiliza para tratar diversas condiciones, como la ansiedad, el insomnio, los trastornos convulsivos, y como relajante muscular. ', 1)
GO
INSERT [dbo].[MEDICOESPECIALIDAD] ([ID], [ID_MEDICO], [ID_ESPECIALIDAD]) VALUES (1, 3, 1)
INSERT [dbo].[MEDICOESPECIALIDAD] ([ID], [ID_MEDICO], [ID_ESPECIALIDAD]) VALUES (2, 6, 2)
INSERT [dbo].[MEDICOESPECIALIDAD] ([ID], [ID_MEDICO], [ID_ESPECIALIDAD]) VALUES (3, 15, 2)
GO
INSERT [dbo].[MEDICOPACIENTE] ([ID], [ID_MEDICO], [ID_PACIENTE]) VALUES (1, 6, 7)
INSERT [dbo].[MEDICOPACIENTE] ([ID], [ID_MEDICO], [ID_PACIENTE]) VALUES (3, 3, 4)
INSERT [dbo].[MEDICOPACIENTE] ([ID], [ID_MEDICO], [ID_PACIENTE]) VALUES (4, 1, 22)
GO
INSERT [dbo].[PETICIONESMEDICAMENTOS] ([ID], [ID_MEDICO], [ID_MEDICAMENTO], [NOMBRE], [DESCRIPCION], [ID_ESTADO_NUEVO]) VALUES (6, 6, NULL, N'Infusiones', N'Infusiones para relajarte un poco', 1)
INSERT [dbo].[PETICIONESMEDICAMENTOS] ([ID], [ID_MEDICO], [ID_MEDICAMENTO], [NOMBRE], [DESCRIPCION], [ID_ESTADO_NUEVO]) VALUES (7, 3, NULL, N'Caramelos AntiTos', N'Caramelos para evitar toser mucho', 1)
INSERT [dbo].[PETICIONESMEDICAMENTOS] ([ID], [ID_MEDICO], [ID_MEDICAMENTO], [NOMBRE], [DESCRIPCION], [ID_ESTADO_NUEVO]) VALUES (9, 3, 1, NULL, NULL, 2)
GO
INSERT [dbo].[PETICIONESUSUARIOS] ([ID], [ID_USUARIO_SOLICITANTE], [ID_USUARIO_MODIFICAR], [ID_ESTADO_NUEVO]) VALUES (3, 12, 34, 2)
INSERT [dbo].[PETICIONESUSUARIOS] ([ID], [ID_USUARIO_SOLICITANTE], [ID_USUARIO_MODIFICAR], [ID_ESTADO_NUEVO]) VALUES (4, 9, 22, 2)
GO
INSERT [dbo].[SEGUIMIENTOCITA] ([ID], [ESTADO]) VALUES (1, N'Asistido')
INSERT [dbo].[SEGUIMIENTOCITA] ([ID], [ESTADO]) VALUES (2, N'NoAsistido')
INSERT [dbo].[SEGUIMIENTOCITA] ([ID], [ESTADO]) VALUES (3, N'Proceso')
GO
INSERT [dbo].[TIPOUSUARIOS] ([ID], [TIPO]) VALUES (1, N'Admin')
INSERT [dbo].[TIPOUSUARIOS] ([ID], [TIPO]) VALUES (2, N'Recepcionista')
INSERT [dbo].[TIPOUSUARIOS] ([ID], [TIPO]) VALUES (3, N'Medico')
GO
INSERT [dbo].[USUARIOS] ([ID], [NOMBRE], [APELLIDO], [CORREO], [CONTRA], [ID_ESTADOUSUARIO], [ID_TIPOUSUARIO]) VALUES (1, N'Enrique', N'Pastor', N'enrique@example.com', N'12345', 1, 1)
INSERT [dbo].[USUARIOS] ([ID], [NOMBRE], [APELLIDO], [CORREO], [CONTRA], [ID_ESTADOUSUARIO], [ID_TIPOUSUARIO]) VALUES (2, N'Aracelii', N'Madariaga', N'araceli@example.com', N'12345', 1, 2)
INSERT [dbo].[USUARIOS] ([ID], [NOMBRE], [APELLIDO], [CORREO], [CONTRA], [ID_ESTADOUSUARIO], [ID_TIPOUSUARIO]) VALUES (3, N'Alfonso', N'Martinez', N'alfonso@example.com', N'12345', 1, 3)
GO
ALTER TABLE [dbo].[CITAS]  WITH CHECK ADD  CONSTRAINT [FK_CITAS_ESTADOUSUARIO] FOREIGN KEY([ID_ESTADOCITA])
REFERENCES [dbo].[ESTADOUSUARIO] ([ID])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_ESTADOUSUARIO]
GO
ALTER TABLE [dbo].[CITAS]  WITH CHECK ADD  CONSTRAINT [FK_CITAS_SEGUIMIENTOCITA] FOREIGN KEY([ID_SEGUIMIENTOCITA])
REFERENCES [dbo].[SEGUIMIENTOCITA] ([ID])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_SEGUIMIENTOCITA]
GO
ALTER TABLE [dbo].[CITAS]  WITH CHECK ADD  CONSTRAINT [FK_CITAS_USUARIOS] FOREIGN KEY([ID_MEDICO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_USUARIOS]
GO
ALTER TABLE [dbo].[CITAS]  WITH CHECK ADD  CONSTRAINT [FK_CITAS_USUARIOS1] FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_USUARIOS1]
GO
ALTER TABLE [dbo].[DATOSEXTRASPACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_DATOSEXTRASPACIENTES_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[DATOSEXTRASPACIENTES] CHECK CONSTRAINT [FK_DATOSEXTRASPACIENTES_USUARIOS]
GO
ALTER TABLE [dbo].[MEDICAMENTOPACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTOPACIENTE_ESTADOMEDICAMENTOS] FOREIGN KEY([ID_DISPOMEDICAMENTO])
REFERENCES [dbo].[DISPONIBILIDADMEDICAMENTOS] ([ID])
GO
ALTER TABLE [dbo].[MEDICAMENTOPACIENTE] CHECK CONSTRAINT [FK_MEDICAMENTOPACIENTE_ESTADOMEDICAMENTOS]
GO
ALTER TABLE [dbo].[MEDICAMENTOPACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTOPACIENTE_MEDICAMENTOS] FOREIGN KEY([ID_MEDICAMENTO])
REFERENCES [dbo].[MEDICAMENTOS] ([ID])
GO
ALTER TABLE [dbo].[MEDICAMENTOPACIENTE] CHECK CONSTRAINT [FK_MEDICAMENTOPACIENTE_MEDICAMENTOS]
GO
ALTER TABLE [dbo].[MEDICAMENTOPACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTOPACIENTE_USUARIOS] FOREIGN KEY([ID_MEDICO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[MEDICAMENTOPACIENTE] CHECK CONSTRAINT [FK_MEDICAMENTOPACIENTE_USUARIOS]
GO
ALTER TABLE [dbo].[MEDICAMENTOPACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTOPACIENTE_USUARIOS1] FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[MEDICAMENTOPACIENTE] CHECK CONSTRAINT [FK_MEDICAMENTOPACIENTE_USUARIOS1]
GO
ALTER TABLE [dbo].[MEDICAMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTOS_ESTADOUSUARIO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOUSUARIO] ([ID])
GO
ALTER TABLE [dbo].[MEDICAMENTOS] CHECK CONSTRAINT [FK_MEDICAMENTOS_ESTADOUSUARIO]
GO
ALTER TABLE [dbo].[MEDICOESPECIALIDAD]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOESPECIALIDAD_ESPECIALIDADES] FOREIGN KEY([ID_ESPECIALIDAD])
REFERENCES [dbo].[ESPECIALIDADES] ([ID])
GO
ALTER TABLE [dbo].[MEDICOESPECIALIDAD] CHECK CONSTRAINT [FK_MEDICOESPECIALIDAD_ESPECIALIDADES]
GO
ALTER TABLE [dbo].[MEDICOESPECIALIDAD]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOESPECIALIDAD_USUARIOS] FOREIGN KEY([ID_MEDICO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[MEDICOESPECIALIDAD] CHECK CONSTRAINT [FK_MEDICOESPECIALIDAD_USUARIOS]
GO
ALTER TABLE [dbo].[MEDICOPACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOPACIENTE_USUARIOS2] FOREIGN KEY([ID_MEDICO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[MEDICOPACIENTE] CHECK CONSTRAINT [FK_MEDICOPACIENTE_USUARIOS2]
GO
ALTER TABLE [dbo].[MEDICOPACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOPACIENTE_USUARIOS3] FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[MEDICOPACIENTE] CHECK CONSTRAINT [FK_MEDICOPACIENTE_USUARIOS3]
GO
ALTER TABLE [dbo].[PETICIONESMEDICAMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_PETICIONESMEDICAMENTOS_ESTADOUSUARIO] FOREIGN KEY([ID_ESTADO_NUEVO])
REFERENCES [dbo].[ESTADOUSUARIO] ([ID])
GO
ALTER TABLE [dbo].[PETICIONESMEDICAMENTOS] CHECK CONSTRAINT [FK_PETICIONESMEDICAMENTOS_ESTADOUSUARIO]
GO
ALTER TABLE [dbo].[PETICIONESMEDICAMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_PETICIONESMEDICAMENTOS_MEDICAMENTOS] FOREIGN KEY([ID_MEDICAMENTO])
REFERENCES [dbo].[MEDICAMENTOS] ([ID])
GO
ALTER TABLE [dbo].[PETICIONESMEDICAMENTOS] CHECK CONSTRAINT [FK_PETICIONESMEDICAMENTOS_MEDICAMENTOS]
GO
ALTER TABLE [dbo].[PETICIONESMEDICAMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_PETICIONESMEDICAMENTOS_USUARIOS] FOREIGN KEY([ID_MEDICO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[PETICIONESMEDICAMENTOS] CHECK CONSTRAINT [FK_PETICIONESMEDICAMENTOS_USUARIOS]
GO
ALTER TABLE [dbo].[PETICIONESUSUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_PETICIONESUSUARIOS_ESTADOUSUARIO] FOREIGN KEY([ID_ESTADO_NUEVO])
REFERENCES [dbo].[ESTADOUSUARIO] ([ID])
GO
ALTER TABLE [dbo].[PETICIONESUSUARIOS] CHECK CONSTRAINT [FK_PETICIONESUSUARIOS_ESTADOUSUARIO]
GO
ALTER TABLE [dbo].[PETICIONESUSUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_PETICIONESUSUARIOS_USUARIOS] FOREIGN KEY([ID_USUARIO_SOLICITANTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[PETICIONESUSUARIOS] CHECK CONSTRAINT [FK_PETICIONESUSUARIOS_USUARIOS]
GO
ALTER TABLE [dbo].[PETICIONESUSUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_PETICIONESUSUARIOS_USUARIOS1] FOREIGN KEY([ID_USUARIO_MODIFICAR])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[PETICIONESUSUARIOS] CHECK CONSTRAINT [FK_PETICIONESUSUARIOS_USUARIOS1]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ESTADOUSUARIO] FOREIGN KEY([ID_ESTADOUSUARIO])
REFERENCES [dbo].[ESTADOUSUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ESTADOUSUARIO]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_TIPOUSUARIOS] FOREIGN KEY([ID_TIPOUSUARIO])
REFERENCES [dbo].[TIPOUSUARIOS] ([ID])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_TIPOUSUARIOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALL_PACIENTES]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ALL_PACIENTES]
as
	select * from usuarios 
	left join datosextraspacientes
	on usuarios.id = DATOSEXTRASPACIENTES.id_usuario
	where USUARIOS.id_tipousuario=4
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATECITAPACIENTE]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CREATECITAPACIENTE]
(@fecha date , @hora time, @idmedico int , @idpaciente int)
as
	declare @idmax int 
	select @idmax = max(id) + 1 from citas
	insert into citas(id, fecha, hora, id_seguimientocita, id_medico, id_paciente , id_estadocita) values (@idmax, @fecha, @hora,3, @idmedico, @idpaciente, 1)
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATEPETICIONUSUARIO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATEPETICIONUSUARIO]
(@idsolicitante int, @idmodificado int, @idestadonuevo int)
AS
	DECLARE @max int
	SELECT @max = MAX(ID) + 1 FROM PETICIONESUSUARIOS
	INSERT INTO PETICIONESUSUARIOS (ID,ID_USUARIO_SOLICITANTE,ID_USUARIO_MODIFICAR,ID_ESTADO_NUEVO) VALUES (@max,@idsolicitante,@idmodificado,@idestadonuevo)
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATEPETIMEDIC_CONID]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATEPETIMEDIC_CONID]
(@idMedico int , @idMedicamento int , @idEstadoMedicamento int)
AS
	DECLARE @idMax int
SELECT @idMax = MAX(ID) + 1 from PETICIONESMEDICAMENTOS
	INSERT INTO PETICIONESMEDICAMENTOS (ID, ID_MEDICO, ID_MEDICAMENTO, ID_ESTADO_NUEVO) VALUES (@idMax, @idMedico, @idMedicamento, @idEstadoMedicamento)
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATEPETIMEDIC_SINID]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATEPETIMEDIC_SINID]
(@idMedico int , @nombreMedicamento nvarchar(50) , @descMedicamento nvarchar(50) , @idEstadoMedicamento int)
AS
	DECLARE @idMax int
	SELECT @idMax = MAX(ID) + 1 from PETICIONESMEDICAMENTOS
	INSERT INTO PETICIONESMEDICAMENTOS (ID, ID_MEDICO, NOMBRE, DESCRIPCION, ID_ESTADO_NUEVO) VALUES (@idMax, @idMedico, @nombreMedicamento, @descMedicamento, @idEstadoMedicamento)
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_medico]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_delete_medico]
(@id int)
as
    delete from medicopaciente
	where id_medico=@id

	delete from peticionesbajas
	where id_usuario=@id

	delete from medicamentopaciente
	where id_medico=@id

	delete from medicopaciente
	where id_medico=@id

	delete from citas
	where id_medico=@id

	delete from medicoespecialidad
	where id_medico=@id
	--esta consulta de accion de ultimo
	delete from usuarios 
	where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_paciente]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_delete_paciente]
(@id int)
as
    delete from datosextraspacientes 
	where id_usuario=@id

	delete from medicopaciente
	where id_paciente=@id

	delete from peticionesusuarios
	where id_usuario_modificar=@id

	delete from medicamentopaciente
	where id_paciente=@id

	delete from medicopaciente
	where id_paciente=@id

	delete from citas
	where id_paciente=@id
	--esta consulta de accion de ultimo
	delete from usuarios 
	where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_usuario]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_delete_usuario]
(@id int)
as
    delete from peticionesbajas
	where id_usuario=@id

	--esta consulta de accion de ultimo
	delete from usuarios 
	where id=@id
GO
/****** Object:  StoredProcedure [dbo].[SP_DETALLES_TUMEDICO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DETALLES_TUMEDICO]
(@idPaciente int, @idMedico int out)
AS
	select @idMedico = USUARIOS.ID from USUARIOS 
	where ID = 
	( 
		select ID_MEDICO from MEDICOPACIENTE where ID_PACIENTE=@idPaciente
	)	

GO
/****** Object:  StoredProcedure [dbo].[sp_edit_medico]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_edit_medico]
(@id int, @nombre nvarchar(50), @apellido nvarchar(50), @correo nvarchar(50), @contra nvarchar(50), @estado int, @tipo int , @especialidad int)
as
	update usuarios
	set id=@id, nombre=@nombre, apellido=@apellido, correo=@correo, contra=@contra, id_estadousuario=@estado, id_tipousuario=@tipo
	where id=@id
	update medicoespecialidad
	set id_especialidad=@especialidad
	where id_medico=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_edit_paciente]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_edit_paciente]
(@id int, @nombre nvarchar(50), @apellido nvarchar(50), @correo nvarchar(50), @contra nvarchar(50), @estado int, @tipo int , @telefono int, @direccion nvarchar(50), @edad int, @genero nvarchar(50))
as
	update usuarios
	set id=@id, nombre=@nombre, apellido=@apellido, correo=@correo, contra=@contra, id_estadousuario=@estado, id_tipousuario=@tipo
	where id=@id
	update datosextraspacientes
	set telefono=@telefono, direccion=@direccion, edad=@edad, genero=@genero
	where id_usuario=@id
GO
/****** Object:  StoredProcedure [dbo].[SP_IDS_MEDICOPACIENTE]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IDS_MEDICOPACIENTE]
(@idCita int , @idMedico int OUT , @idPaciente int OUT)
AS
	SELECT @idMedico = ID_MEDICO FROM CITAS WHERE ID=@idCita
	SELECT @idPaciente = ID_PACIENTE FROM CITAS WHERE ID=@idCita
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_medico]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_insert_medico]
(@nombre nvarchar(50), @apellido nvarchar(50), @correo nvarchar(50), @contra nvarchar(50), @especialidad int)
as
	DECLARE @idMaxUsuario INT
	SELECT @idMaxUsuario = MAX(ID) + 1 FROM USUARIOS
	INSERT INTO USUARIOS (ID,NOMBRE,APELLIDO,CORREO,CONTRA,ID_ESTADOUSUARIO,ID_TIPOUSUARIO) VALUES (@idMaxUsuario,@nombre,@apellido,@correo,@contra,1,3)
	DECLARE @idMaxMedicoEspecialidad int
	SELECT @idMaxMedicoEspecialidad = MAX(ID) + 1 FROM MEDICOESPECIALIDAD
	INSERT INTO MEDICOESPECIALIDAD (ID,ID_MEDICO,ID_ESPECIALIDAD) VALUES (@idMaxMedicoEspecialidad,@idMaxUsuario,@especialidad)

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_paciente]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_insert_paciente]
( @nombre nvarchar(50), @apellido nvarchar(50), @correo nvarchar(50), @contra nvarchar(50), @telefono int, @direccion nvarchar(50), @edad int, @genero nvarchar(50), @medico int)
as
	DECLARE @idMaxUsuario INT
	SELECT @idMaxUsuario = MAX(ID) + 1 FROM USUARIOS
	INSERT INTO USUARIOS (ID,NOMBRE,APELLIDO,CORREO,CONTRA,ID_ESTADOUSUARIO,ID_TIPOUSUARIO) VALUES (@idMaxUsuario,@nombre,@apellido,@correo,@contra,1,4)
	
	DECLARE @idMaxDatosExtras int
	SELECT @idMaxDatosExtras = MAX(ID) + 1 FROM DATOSEXTRASPACIENTES
	INSERT INTO DATOSEXTRASPACIENTES (ID,ID_USUARIO,TELEFONO,DIRECCION,EDAD,GENERO) VALUES (@idMaxDatosExtras,@idMaxUsuario,@telefono,@direccion,@edad,@genero)
	
	DECLARE @idMaxMedicoPaciente int
	SELECT @idMaxMedicoPaciente = MAX(ID) + 1 FROM MEDICOPACIENTE
	INSERT INTO MEDICOPACIENTE (ID,ID_MEDICO,ID_PACIENTE) VALUES (@idMaxMedicoPaciente,@medico,@idMaxUsuario)

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTMEDICAMENTOPACIENTE]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTMEDICAMENTOPACIENTE]
(@idmedicamento int, @idmedico int, @idpaciente int)
AS
	DECLARE @maxid int
	SELECT @maxid = MAX(ID) + 1 FROM MEDICAMENTOPACIENTE
	INSERT INTO MEDICAMENTOPACIENTE (ID,ID_MEDICAMENTO,ID_MEDICO,ID_PACIENTE,ID_DISPOMEDICAMENTO) VALUES (@maxid,@idmedicamento,@idmedico,@idpaciente,1)
GO
/****** Object:  StoredProcedure [dbo].[SP_OKNOPETI_MEDICAMENTO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OKNOPETI_MEDICAMENTO]
(@idPeti int)
AS
	DELETE FROM PETICIONESMEDICAMENTOS WHERE ID=@idPeti; 
GO
/****** Object:  StoredProcedure [dbo].[SP_OKNOPETICION_USUARIO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OKNOPETICION_USUARIO]
(@idPeticion int)
AS
	DELETE FROM PETICIONESUSUARIOS WHERE ID=@idPeticion;
GO
/****** Object:  StoredProcedure [dbo].[SP_OKPETI_MEDICAMENTO_CON_ID]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OKPETI_MEDICAMENTO_CON_ID]
(@idPeti int, @idMedicamento int, @idEstado_Nuevo int)
AS
	UPDATE MEDICAMENTOS SET ID_ESTADO=@idEstado_Nuevo WHERE ID=@idMedicamento;
	DELETE FROM PETICIONESMEDICAMENTOS WHERE ID=@idPeti;
GO
/****** Object:  StoredProcedure [dbo].[SP_OKPETI_MEDICAMENTO_SIN_ID]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OKPETI_MEDICAMENTO_SIN_ID]
(@idPeti int, @nombreMed nvarchar(50), @descMed nvarchar(50), @idEstado_Nuevo int)
AS
	DECLARE @idMax int;
	SELECT @idMax = MAX(ID) + 1 FROM MEDICAMENTOS
	INSERT INTO MEDICAMENTOS (ID,NOMBRE,DESCRIPCION,ID_ESTADO) VALUES (@idMax,@nombreMed,@descMed,@idEstado_Nuevo)
	DELETE FROM PETICIONESMEDICAMENTOS WHERE ID=@idPeti;
GO
/****** Object:  StoredProcedure [dbo].[SP_OKPETICION_USUARIO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OKPETICION_USUARIO]
(@idPeticion int,@idUsuario int ,@idEstadoUsuario int)
AS
	UPDATE USUARIOS SET ID_ESTADOUSUARIO=@idEstadoUsuario WHERE ID=@idUsuario;
	DELETE FROM PETICIONESUSUARIOS WHERE ID=@idPeticion;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATECITAMEDICA]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATECITAMEDICA]
(@idcita int, @comentario nvarchar(Max), @seguimiento int)
AS
	UPDATE CITAS SET COMENTARIO=@comentario , ID_SEGUIMIENTOCITA=@seguimiento , ID_ESTADOCITA = 2
	WHERE ID=@idcita

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATECITAMEDICA_SINCOMENTARIO]    Script Date: 19/03/2024 2:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATECITAMEDICA_SINCOMENTARIO]
(@idcita int, @seguimiento int)
AS
	UPDATE CITAS SET  ID_SEGUIMIENTOCITA=@seguimiento , ID_ESTADOCITA = 2
	WHERE ID=@idcita
GO
